<div class="container">
  <table class="table" *ngIf="owners">
    <thead>
    <tr>
      <th>Id</th> <th>Name</th> <th>Mail</th> <th>Birthdate</th> <th>Cars</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of owners">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.mail}}</td>
      <td>{{p.date | date :'dd/MM/yyyy'}}</td>
      <td>
        <button class="btn btn-success">Cars</button>
      </td>
      <td>
        <button class="btn btn-info">
          <i class="bi bi-pen"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-danger">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

