<div class="container mt-2">
  <div class="card col-md-6 offset-3" >
    <div class="card-header">New Radar</div>
    <div class="card-body" >
      <form [formGroup]="newRadarFormGroup" (ngSubmit)="saveRadar()">
        <div class="mb-3">
          <label class="form-label">Max Speed :</label>
          <input type="text" formControlName="maxSpeed" class="form-control">
          <small *ngIf="newRadarFormGroup.controls['maxSpeed'].errors && newRadarFormGroup.controls['maxSpeed'].touched" class="text-danger">{{getErrorMessage('maxSpeed',newRadarFormGroup.controls['maxSpeed'].errors)}}</small>
        </div>
        <div class="mb-3">
          <label class="form-label">Longitude :</label>
          <input type="text" formControlName="longitude" class="form-control">
          <small *ngIf="newRadarFormGroup.controls['longitude'].errors && newRadarFormGroup.controls['longitude'].touched" class="text-danger">{{getErrorMessage('longitude',newRadarFormGroup.controls['longitude'].errors)}}</small>
        </div>
        <div class="mb-3">
          <label class="form-label">Latitude :</label>
          <input type="text" formControlName="latitude" class="form-control">
          <small *ngIf="newRadarFormGroup.controls['latitude'].errors && newRadarFormGroup.controls['latitude'].touched" class="text-danger">{{getErrorMessage('latitude',newRadarFormGroup.controls['laltitude'].errors)}}</small>
        </div>
        <div class="d-grid">
          <button [disabled]="!this.newRadarFormGroup.valid" class="btn btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
